<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/writer/dashboard/index/">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Mesajlar</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/writer/message/inbox">Gelen Kutusu</a></li>
                <li class="nav-item"> <a class="nav-link" href="/writer/message/sentbox">Gönderilen Mesajlar</a></li>
                <li class="nav-item"> <a class="nav-link" href="/writer/message/sendmessage">Mesaj Gönder</a></li>
              </ul>
            </div>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/default/index/">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Tablolar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/profile/index/">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/profile/index/">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/login/logout/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>
