@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeteneği Düzenle</h4>
    <br />
    <br />
    @using (Html.BeginForm("Edit", "Skill", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.SkillID)
        <label>Yetenek Başlığı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Yetenek Değeri</label>
        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-success">Kaydet</button>
    }
</div>
</div>
</div>

