@model List<EntityLayer.Concrete.Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenekler</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Oran</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @item.SkillID
                                </th>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                        @item.Value%
                                </td>
                                <td>
                                    <a href="/Skill/Delete/@item.SkillID" class="btn btn-outline-danger">Sil</a>
                                </td>
                                <td>
                                    <a href="/Skill/Edit/@item.SkillID" class="btn btn-outline-primary">Düzenle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<a href="/Skill/Insert" class="btn btn-outline-success">Yeni Yetenek Ekle</a>

