
@{
    ViewData["Title"] = "Insert";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Yetenek Ekle</h4>
    <br />
    <br />
<form class="form-group" method="post">
    <label>Yetenek Başlığı</label>
    <input type="text" name="Title" class="form-control"/>
    <br />
    <label>Yetenek Değeri</label>
    <input type="text" name="Value" class="form-control"/>
    <br />
    <button class="btn btn-outline-success" type="submit">Kaydet</button>
</form>
</div>
</div>
</div>