@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Servis Düzenle</h4>
    <br />
    <br />
    @using (Html.BeginForm("Edit", "Service", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ServiceID)
        <label>Servis Adı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Servis Görsel Yolu</label>
        @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-success">Kaydet</button>
    }
</div>
</div>
</div>
