@model List<EntityLayer.Concrete.Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hizmetler</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>

            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="status">Görsel</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item.ServiceID
                    </th>
                    <th class="budget">
                        @item.Title
                    </th>
                    <td>
                        <img src="@item.ImageURL" />
                    </td>
                    <td>
                        <a href="/Service/Delete/@item.ServiceID" class="btn btn-outline-danger">Sil</a>
                    </td>
                    <td>
                        <a href="/Service/Edit/@item.ServiceID" class="btn btn-outline-primary">Düzenle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Service/Insert" class="btn btn-outline-success">Yeni Servis Ekle</a>
</div>
</div>
</div>
<br />




